<%= form_with(model: @comment, scope: :status, url: @post) do |form| %>

  <div class="field">
    <%= form.select :status, Comment.statuses.keys { |s| s }, selected: params[:status] == {"status"=>"unpublished"} ? 'unpublished' : 'published' %>
  </div>

  <div class="actions">
    <%= form.submit('Show comments') %>
  </div>
<% end %>
