<%= form_with(model: @comment, scope: :status, url: @post) do |form| %>

  <div class="field">
    <%= form.select :status, Comment.statuses { |a| a }, selected: 1 %>
  </div>

  <div class="actions">
    <%= form.submit('Show comments') %>
  </div>
<% end %>
