<% a = Author.find(params[:format]) %>

<table class="table table-hover table-bordered table-striped col-4">
  <tr>
    <td>First Name</td>
    <td><%= a.first_name %></td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td><%= a.last_name %></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td><%= a.gender %></td>
  </tr>
  <tr>
    <td>Birthday</td>
    <td><%= a.birthday %></td>
  </tr>
</table>
